.admin-dashboard-container {
  min-height: 100vh;
  margin-left: 260px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: #f8f9fa;
  gap: 2rem;
}

@media (max-width: 768px) {
  .admin-dashboard-container {
    margin-left: 80px;
    padding: 20px;
    align-items: center;
  }
}